.Alert {
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 30px 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: relative;
}

.Alert .close-alert {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.warning {
    background-color: #ff9800;
}

.primary {
    background-color: #2196F3;
}

.success {
    background-color: #4CAF50;
}

.danger {
    background-color: #f44336;
}

.hide {
    display: none;
}